@media (max-with:1080){
    p{
        background-color: aqua;
        color: coral;
        padding: 20px;

    }
    .head {
        background-color: aqua;
        color: coral;
        padding: 20px;
        size: 50px;
     }
}